@import "../index.scss";

.intro {
  background-image: url(../assets/intro.png);
  height: 720px;
  width: 1080px;
  position: relative;

  &__text-box {
    position: absolute;
    bottom: 40px;
    left: 56px;
    height: 240px;
    width: 500px;
    background-color: $darkblue;
    border: 2px solid $yellow;
    padding: 20px;
    color: $yellow;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    &__text {
      margin: 0;
      font-size: 24px;
    }
  }
}
