@import "../index.scss";

.battle {
  &--win-screen,
  &--lose-screen,
  &--intro {
    height: 720px;
    width: 1080px;
    background: $darkpurple;
    color: $yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    box-sizing: border-box;
  }

  &__title {
    font-size: 34px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 20px;
    margin-bottom: 40px;
  }
}
.button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: $orange;
  color: $darkpurple;
  font-size: 24px;
  margin-bottom: 10px;
}
