.dropdown-button {
  padding: 4px;
  border: none;
  color: magenta;
  cursor: pointer;
  display: inline-block;

  &--disabled {
    color: white;
    cursor: not-allowed;
  }
}

.dropdown-portal {
  position: absolute;
  &__list {
    padding: 6px 20px 10px;
    background-color: black;
    color: white;
    list-style: none;
    &__item {
      padding-top: 4px;
      &:not(:last-child) {
        border-bottom: 1px solid white;
        padding-bottom: 4px;
      }
    }
  }
  &__submenu {
    position: absolute;
    background-color: white;
    padding: 4px;
  }
}
