@import "../index.scss";

.dropdown-button {
  padding: 4px;
  border: none;
  color: $yellow;
  cursor: pointer;
  display: inline-block;

  &--disabled {
    color: $orange;
    cursor: not-allowed;
  }
}

.dropdown-portal {
  position: absolute;
  &__list {
    padding: 6px 20px 10px;
    background-color: $darkpurple;
    color: $white;
    list-style: none;
    &__item {
      padding-top: 4px;
      &:not(:last-child) {
        border-bottom: 1px solid $white;
        padding-bottom: 4px;
      }
    }
  }
  max-height: 250px;
  overflow-y: auto;
  &__submenu {
    position: absolute;
    background-color: $white;
    padding: 4px;
  }
}
