.dropdown-portal {
  position: absolute;
  &__list {
    padding: 10px 20px;
    background-color: black;
    color: white;
    list-style: none;
    &__item {
      &:not(:last-child) {
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
    }
  }
}

.dropdown-button {
  margin-right: 2px;
}
