.room {
  flex-grow: 1;

  background-color: darkslategrey;

  position: relative;
  &__speech {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    &__said {
    }
    &__leftover {
      color: gray;
    }
  }
  &__player {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    bottom: 0;
  }
  &__enemy {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    right: 0;
    top: 0;
    height: 50%;
  }
}
