@import "../index.scss";

.room {
  flex-grow: 1;

  background-color: $blue;

  position: relative;
  &__speech {
    color: $darkpurple;
    background-color: $white;
    border-radius: 10px;
    padding: 20px;
    word-break: break-all;
    &__leftover {
      color: $darkyellow;
    }
  }
  &__player {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    bottom: 0;
    max-width: 350px;
  }
  &__enemy {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    right: 0;
    top: 0;
    transition: transform 0.1s ease-in-out;
  }
}
