@import "./globals.scss";

#portal-root {
  position: absolute;
  width: 1080px;
  height: 720px;
  top: 0;
  user-select: none;
  pointer-events: none;
  & > * {
    pointer-events: all;
    cursor: pointer;
  }
}

.game-app {
  height: 720px;
  width: 1080px;

  cursor: pointer;
  user-select: none;
}

.mute-button {
  cursor: pointer;
  border: 1px $darkblue solid;
  background: $orange;
  color: $blue;
  border: none;
  position: absolute;
  font-size: 20px;
  border-radius: 4px;
  top: 12px;
  left: 12px;
  padding: 4px 8px;
}

.transition {
  background: $darkblue;
  opacity: 0;
  animation: transition 1s ease-in-out;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes transition {
  from {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
