@import "./globals.scss";

@font-face {
  font-family: "terminal_grotesque";
  src: url("assets/font/terminal-grotesque-webfont.eot");
  src: url("assets/font/terminal-grotesque-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("assets/font/terminal-grotesque-webfont.woff2") format("woff2"),
    url("assets/font/terminal-grotesque-webfont.woff") format("woff"),
    url("assets/font/terminal-grotesque-webfont.ttf") format("truetype"),
    url("assets/font/terminal-grotesque-webfont.svg#terminal_grotesqueregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: terminal_grotesque;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

button {
  font-family: terminal_grotesque;
}
